/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-price-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.price-box {
  position: relative;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 30px 30px 38px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.sub-title {
  color: #4999f8;
}

ul {
  padding: 0 !important;
}

.buy-now {
  background-color: #4999f8;
}

.pricing-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #4999f8;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
}
